
body{
    overflow-x: hidden;
    margin: 0;
    background-image: url(MIDIA/FUNDOSOULSBAR.jpg);
    background-attachment: fixed;
    background-position: 0px -30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.CONTEUDO{
    right: 50px;
    position: relative;
}

header{
    margin: 0;
    display: block;
    padding: 40px;
    font-size: 150px;
    text-align: center;
    color:rgb(216, 197, 175);
    background-color: rgb(2, 2, 2);
}

.ICONE{
    width: 8%;
}

.MENU{
    text-align: center;
    background-color: rgb(12, 11, 11);
    bottom: 18px;
    position: relative;
}

.MENU a{
    text-decoration: none;
    font-size: 30px;
    
}

.MENU a:link{
    color:rgb(151, 132, 110);
    
    
}

.MENU a:visited{
    color:rgb(151, 132, 110);
    
    
}

.MENU li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    
}

a.BOTAO:hover{
    font-size: 35px;
    color:antiquewhite;
    transition: .5s;
    background-color: rgb(7, 7, 7);
    padding: 10px;
    border-radius: 80%;
}



.BOTAOMUSICA{
    width: 25%;
    position: relative;
    left: 500px;
}

.HALLDAFAMA{
    text-align: center;
    font-size: 80px;
    color:rgb(226, 205, 177);

}

.IMAGENS-HALL{  
    position: relative;
    display: inline;
    left: 50px;
    
}

.DONNYIMG{
    width: 20%;
    margin: 20px;
    
}
.ARETHAIMG{
    width: 20%;
    margin: 20px;
}
.SAMIMG{
    width: 20%;
    margin: 20px;
}
.NINAIMG{
    width: 20%;
    margin: 20px;
}

.DONNYIMG:hover{
    width: 21%;
    transition: .5s;

}
.ARETHAIMG:hover{
    width: 21%;
    transition: .5s;

}
.SAMIMG:hover{
    width: 21%;
    transition: .5s;

}
.NINAIMG:hover{
    width: 21%;
    transition: .5s;

}

.NOMES-HALL{
    position: relative;
    font-size: 20px;
    display: inline-block;
    left: 200px;
    bottom: 10px;
    color:rgb(216, 200, 180);
    font-weight: bold;
}

.DONNY{
    position: relative;
    left: -95px;
    display: inline;
    text-transform: uppercase;
    
}
.ARETHA{
    position: relative;
    left: 10px;
    display: inline;
    text-transform: uppercase;
}
.SAM{
    position: relative;
    left: 150px;
    display: inline;
    text-transform: uppercase;
}
.NINA{
    position: relative;
    left: 320px;
    display: inline;
    text-transform: uppercase;
}

.DATAS-HALL{
    position: relative;
    font-size: 25px;
    display: inline-block;
    left: 30px;
    bottom: 10px;
    color:rgb(180, 161, 161);
    font-weight: bold;
}

.DONNYDATA{
    position: relative;
    left: 110px;
    display: inline;

    
}
.ARETHADATA{
    position: relative;
    left: 280px;
    display: inline;

    
}
.SAMDATA{
    position: relative;
    left: 463px;
    display: inline;
    
}
.NINADATA{
    position: relative;
    left: 640px;
    display: inline;
    
}

.SETA{
    position: relative;
    width: 5%;
    left: 700px;
    top: 965px;
}

.SETA2{
    position: relative;
    width: 5%;
    left: 500px;
    top: 1550px;
}

.SETA3{
    position: relative;
    width: 5%;
    left: 1100px;
    bottom: 80px;
}

.SETA4{
    position: relative;
    width: 5%;
    left: 600px;
    top: 2400px;
}


.HISTORIADOSOUL-TITULO{
    position: relative;
    font-size: 40px;
    left: 30px;
    color:rgb(226, 205, 177);
    background-color: black;
    display: inline;
    padding: 20px;

}

.HISTORIADOSOUL-CONTEUDO{
    width: 100%;
    text-align: justify;

}

.TIMMAIA{
    float: right;
    width: 750px;
    height: 650px;
    margin-left: 70px;
    margin-right: 25px;
    margin-bottom: 40px;
}

.HISTORIADOSOUL-CONTEUDO p{
    position: relative;
    display: inline;
    font-size: 25px;
    text-align: justify;
    left: 30px;
    line-height: 1.3;
    background-color: rgb(24, 23, 22);
    color: antiquewhite;
  

}

.ARTISTAS-TITULO{
    position: relative;
    font-size: 60px;
    left: 340px;
    color:rgb(226, 205, 177);
    display: inline;
    padding: 20px;
}


.IMAGENS-HALL2{  
    position: relative;
    display: inline;
    left: 40px;
    
}

.NOMEIMG2-1{
    width: 20%;
    margin: 20px;
    
}
.NOMEIMG2-2{
    width: 20%;
    margin: 20px;
}
.NOMEIMG2-3{
    width: 20%;
    margin: 20px;
}
.NOMEIMG2-4{
    width: 20%;
    margin: 20px;
}

.NOMES-HALL2{
    position: relative;
    font-size: 20px;
    display: inline-block;
    left: 200px;
    bottom: 10px;
    color:rgb(216, 200, 180);
    font-weight: bold;
}

.NOME2-1{
    position: relative;
    left: -100px;
    display: inline;
    text-transform: uppercase;
    
}
.NOME2-2{
    position: relative;
    left: 5px;
    display: inline;
    text-transform: uppercase;
}
.NOME2-3{
    position: relative;
    left: 145px;
    display: inline;
    text-transform: uppercase;
}
.NOME2-4{
    position: relative;
    left: 320px;
    display: inline;
    text-transform: uppercase;
}

.NOME2-4-OTIS{
    position: relative;
    left: 315px;
    display: inline;

}

.NOME2-4-WHIT{
    position: relative;
    left: 290px;
    display: inline;
}

.PERFORMANCES-TITULO{
    position: relative;
    font-size: 60px;
    left: 340px;
    color:rgb(226, 205, 177);
    display: inline;
    padding: 20px;
}

.VIDEOS{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 345px;

}

.CANVA{
    width: 50%;

}

.INSTRUMENTOS-TITULO{
    position: relative;
    font-size: 60px;
    left: 400px;
    color:rgb(226, 205, 177);
    display: inline;
    padding: 20px;
}

.container {
    text-align: center;
  }
  
  .FILEIRA {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .COLUNA {
    flex: 1;
    text-align: center;
  }

  .LEGENDA1{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }
  .LEGENDA2{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }
  .LEGENDA3{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }
  .LEGENDA4{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }
  .LEGENDA5{
    position: relative;
    left: 87px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }
  .LEGENDA6{
    position: relative;
    left: -4px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    padding: 20px;
    color: rgb(223, 208, 188);
  }

  .VOZ{
    position: relative;
    left: 60px;
  }

  footer{
    font-size: 40px;
    background-color: #0f0e0e;
    text-align: center;
    color: antiquewhite;
    font-style: italic;


  }
